[user]
	email = bohana@gmail.com
	name = Bruno Ohana
[alias]
    lo = log --pretty=oneline --abbrev-commit --graph --decorate
    am = commit --amend
    unstage = 'reset HEAD --'
	branches = !legit branches
	publish = !legit publish
	unpublish = !legit unpublish
	sync = !legit sync
	switch = !legit switch
	resync = !legit resync
	undo = !legit undo
